.plano {
  background-image: url('../assets/architectural-plan.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 660px;
  border-radius: 10px;
}

.ventana {
  width: 16px;
  height: 70px;
  background-color: #ffffff;
  position: relative;
  transition: all 0.5s ease;
}

.cocina {
  left: 66px;
  top: 451px;
  height: 72px;
}

.comedor {
  rotate: 90deg;
  left: 168px;
  top: 606px;
}

.sala {
  rotate: 90deg;
  left: 494px;
  top: 599px;
}

.habitacion-1 {
  rotate: 90deg;
  left: 280px;
  top: -181px;
  height: 100px;
  width: 16px;
}

.habitacion-2 {
  rotate: 90deg;
  left: 478px;
  top: -282px;
  height: 100px;
}

.habitacion-3 {
  left: 567px;
  top: -46px;
  height: 100px;
}

.puerta {
  position: relative;
  background-color: rgb(121, 45, 45);
  width: 10px;
  height: 43px;
}

.puerta.principal {
  rotate: 90deg;
  top: -106px;
  left: 351px;
  height: 83px;
  width: 16px;
}

.bano-principal {
  top: -243px;
  left: 323px;
}

.bano-habitacion {
  top: -338px;
  left: 167px;
}

.hab-1 {
  rotate: 90deg;
  top: -354px;
  left: 354px;
}

.hab-2 {
  top: -372px;
  left: 393px;
}

.hab-3 {
  top: -335px;
  left: 393px;
}

.lavado {
  rotate: 90deg;
  top: -359px;
  left: 162px;
}

.camera-btn{
  position: relative;
  width: 60px;
  height: 60px;
  background-color: transparent;
}

.esi{
  top: -860px;
  left: 6px;
}

.esd {
  top: -920px;
  left: 585px;
}

.principal {
 top: -300px;
 left: 275px;
}

.camera-button{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.chat-btn{
  position: relative;
  width: 60px;
  height: 60px;
  background-color: transparent;
  top: -200px;
  left: 260px;
}

.bombillo-cocina {
  left: 480px;
  top: 650px;
  position: absolute;
  z-index: 30;
  width: 40px;
  height: 60px;
  background-image: url('../assets/bombillo.png');
  background-size: cover;
  background-position: left;
}

.bombillo-comedor {
  left: 430px;
  top: 855px;
  position: absolute;
  z-index: 30;
  width: 30px;
  height: 45px;
  background-image: url('../assets/bombillo.png');
  background-size: cover;
  background-position: left;
}

.bombillo-sala {
  left: 745px;
  top: 763px;
  position: absolute;
  z-index: 30;
  width: 40px;
  height: 60px;
  background-image: url('../assets/bombillo.png');
  background-size: cover;
  background-position: left;
}

.bombillo-cuarto3 {
  left: 745px;
  top: 560px;
  position: absolute;
  z-index: 30;
  width: 40px;
  height: 60px;
  background-image: url('../assets/bombillo.png');
  background-size: cover;
  background-position: left;
}

.bombillo-cuarto2 {
  left: 730px;
  top: 350px;
  position: absolute;
  z-index: 30;
  width: 40px;
  height: 60px;
  background-image: url('../assets/bombillo.png');
  background-size: cover;
  background-position: left;
}

.bombillo-cuarto1 {
  left: 543px;
  top: 320px;
  position: absolute;
  z-index: 30;
  width: 40px;
  height: 60px;
  background-image: url('../assets/bombillo.png');
  background-size: cover;
  background-position: left;
}

.bombillo-bano-habitacion {
  left: 390px;
  top: 330px;
  position: absolute;
  z-index: 30;
  width: 30px;
  height: 45px;
  background-image: url('../assets/bombillo.png');
  background-size: cover;
  background-position: left;
}

.bombillo-lavado {
  left: 399px;
  top: 490px;
  position: absolute;
  z-index: 30;
  width: 30px;
  height: 45px;
  background-image: url('../assets/bombillo.png');
  background-size: cover;
  background-position: left;
}

.bombillo-bano-principal {
  left: 525px;
  top: 470px;
  position: absolute;
  z-index: 30;
  width: 30px;
  height: 45px;
  background-image: url('../assets/bombillo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}