.name-form {
  background-color: #ffffff;
  height: 150px;
  padding: 1rem;
  border-radius: 10px;
}

#container-main {
  gap: 1rem;
}

.iframe-camera {
  width: 670px;
  height: 550px;
}

.camera {
  display: none;
  flex-direction: column;
}